@import './mixins.scss';
@font-face {
    font-family: 'SensationLight';
    src: local('SensationLight'), url('/fonts/Sansation_Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'SensationRegular';
    src: local('SensationRegular'), url('/fonts/Sansation_Regular.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}

html {
    //Defines what 1rem is: 1rem = 10px
    font-size: 62.5%; // 10px / 16px = 62.5% *
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    // Example of how we could handle resizing the entire app just by handling the root font size from here :)

    // @include breakpoint(tablet-landscape) {
    //     font-size: 56.25%; //1rem = 9px;
    // }

    // @include breakpoint(tablet-portrait) {
    //     font-size: 50%; //1rem = 8px; 8/16 = 50%
    // }

    // @include breakpoint(mobile) {
    //     font-size: 37.5%; //1rem = 6px; 6/16 = 37.5%
    // }

    // @include breakpoint(big-desktop) {
    //     font-size: 75%; //1 rem = 12px;
    // }
}

html,
body,

// @TODO Koko figure out why #__next is not being targeted, and we gotta do style jsx global on _document instead
#__next {
    height: 100%;
    width: 100%;
    overflow: auto;
}

select {
    option {
        color: #4B4B4B
    }
}